Dictionary- unorder, key:value, mtable, {}

In [11]:
# rollno = int(input("Enter the rollno:"))
d = {
        "name" : "Nitish Kumar",
        "course" : "Mtech",
        "year" : 2024,
        "marks" : 90,
        101 : "Name: Nitish, Class: 12th",
        102 : ("Nitish","Mtech","2024",90)

         
}

print(d[102][2])

3

In [45]:
# database for diat
diat = {
    101 : ("Nitish","Mtech","2024",90),
    102 : ("Nitish","Mtech","2024",90),
    103 : ("Nitish","Mtech","2024",90),
    104 : ("Nitish","Mtech","2024",90),
    105 : ("Nitish","Mtech","2024",90),
    106 : ("Nitish","Mtech","2024",90),
    107 : ("Nitish","Mtech","2024",90),
    108 : {
         "name": "Ayush",
        "course": "Mtech",
        "DOB" :2001,
        "marks" : 80

    },

    109 : {
        "name": "Nitish",
        "course": "Mtech",
        "DOB" :2002,
        "marks" : 90
    }

}

for a,b in diat[109].items():
    print(a,b)
# diat[108]["marks"],diat[109]["marks"]

name Nitish
course Mtech
DOB 2002
marks 90

Dictionary function and methods - get,keys,values,items

In [39]:
d = {
        "name" : "Nitish Kumar",
        "course" : "Mtech",
        "year" : 2024,
        "marks" : 90
}

# print(d.get("name"))

#keys
for i in d.keys():
    print(i)

print("\n")

#values
for i in d.values():
    print(i)

print("\n")
#items
for a,b in d.items():
    print(a,b)

name
course
year
marks


Nitish Kumar
Mtech
2024
90


name Nitish Kumar
course Mtech
year 2024
marks 90

delete - pop, del (keys use in both)

In [46]:
d = {
        "name" : "Nitish Kumar",
        "course" : "Mtech",
        "year" : 2024,
        "marks" : 90
}

del d["name"]
print(d)

{'course': 'Mtech', 'year': 2024, 'marks': 90}

In [49]:
d = {
        "name" : "Nitish Kumar",
        "course" : "Mtech",
        "year" : 2024,
        "marks" : 90
}

a = d.pop("marks")
print(a)
print(d)

90
{'name': 'Nitish Kumar', 'course': 'Mtech', 'year': 2024}

In [50]:
#dict
d = dict(name='nitish', marks = 90)
print(d['marks'])

90

In [52]:
d = {
        "name" : "Nitish Kumar",
        "course" : "Mtech",
        "year" : 2024,
        "marks" : 90
}

d.update({"marks":95})
d

{'name': 'Nitish Kumar', 'course': 'Mtech', 'year': 2024, 'marks': 95}

In [60]:
d = {
        "name" : "Nitish Kumar",
        "course" : "Mtech",
        "year" : 2024,
        "marks" : 90
}
d.clear()
print(d)

{}

In [62]:
d = {
        "name" : "Nitish Kumar",
        "course" : "Mtech",
        "year" : 2024,
        "marks" : 90
}

d["state"]= "Faridabad"
d

{'name': 'Nitish Kumar',
 'course': 'Mtech',
 'year': 2024,
 'marks': 90,
 'state': 'Faridabad'}

Nested Dictionary

In [12]:
ai = {
    1 : {'name':'Nitish','DOB':'22-01-2002','Gate-Qualified':'Yes'},
    2 : {'name':'Nitish','DOB':'22-01-2002','Gate-Qualified':'Yes'},
    3 : {'name':'Nitish','DOB':'22-01-2002','Gate-Qualified':'Yes'},
    4 : {'name':'Nitish','DOB':'22-01-2002','Gate-Qualified':'Yes'},
    5 : {'name':'Nitish','DOB':'22-01-2002','Gate-Qualified':'Yes'},
    6 : {'name':'Nitish','DOB':'22-01-2002','Gate-Qualified':'Yes'},
    7 : {'name':'Nitish','DOB':'22-01-2002','Gate-Qualified':'Yes'},
    8 : {'name':'Nitish','DOB':'22-01-2002','Gate-Qualified':'Yes'},
    9 : {'name':'Nitish','DOB':'22-01-2002','Gate-Qualified':'Yes'},
    10 : {'name':'Nitish','DOB':'22-01-2002','Gate-Qualified':'Yes'},
    11: {'name':'Nitish','DOB':'22-01-2002','Gate-Qualified':'Yes'}

}
print(ai[1]['name'])

ai[1]['DOB'] = "21-01-2001"  #update
for i,j in ai.items():
    print(i,j)

Nitish
1 {'name': 'Nitish', 'DOB': '21-01-2001', 'Gate-Qualified': 'Yes'}
2 {'name': 'Nitish', 'DOB': '22-01-2002', 'Gate-Qualified': 'Yes'}
3 {'name': 'Nitish', 'DOB': '22-01-2002', 'Gate-Qualified': 'Yes'}
4 {'name': 'Nitish', 'DOB': '22-01-2002', 'Gate-Qualified': 'Yes'}
5 {'name': 'Nitish', 'DOB': '22-01-2002', 'Gate-Qualified': 'Yes'}
6 {'name': 'Nitish', 'DOB': '22-01-2002', 'Gate-Qualified': 'Yes'}
7 {'name': 'Nitish', 'DOB': '22-01-2002', 'Gate-Qualified': 'Yes'}
8 {'name': 'Nitish', 'DOB': '22-01-2002', 'Gate-Qualified': 'Yes'}
9 {'name': 'Nitish', 'DOB': '22-01-2002', 'Gate-Qualified': 'Yes'}
10 {'name': 'Nitish', 'DOB': '22-01-2002', 'Gate-Qualified': 'Yes'}
11 {'name': 'Nitish', 'DOB': '22-01-2002', 'Gate-Qualified': 'Yes'}